@model UrlShortenerWeb.Models.ShortUrl

<!DOCTYPE html>
<html>
<head>
    <title>URL Info</title>
</head>
<body>
    <h1>URL Info</h1>

    <div>
        <p><strong>Id:</strong> @Model.Id</p>
        <p><strong>Original URL:</strong> @Model.OriginalUrl</p>
        <p><strong>Short URL:</strong> @Model.ShortenedUrl</p>
        <p><strong>Code of URL:</strong> @Model.Code</p>
        <p><strong>Created By:</strong> @Model.CreatedBy</p>
        <p><strong>Created Date:</strong> @Model.CreatedDate</p>
    </div>
</body>
</html>
